 #box {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     padding: 20px;
     border-radius: 8px;
     background-color: #f9f9f9;
 }

 #miCarrusel {
     margin: 0 auto;
 }

 #pagina {

     box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
     padding: 20px;
     margin: 30px;
     border-radius: 8px;

     @media screen {}

 }

 .botones-principal {
     display: flex;
     gap: 10px;
     margin-bottom: 30px;
 }

 .botones-logout {
     display: flex;
     gap: 10px;
     margin-top: 30px;
     border-top: 1px solid #ccc;
     padding-top: 20px;
 }


 @media (max-width: 768px) {
     .navbar-brand span {
         font-size: 1.2rem;
     }

     .nav-link {
         font-size: 0.9rem;
     }

     #pagina {
         margin: 10px;
         padding: 15px;
     }
 }

 @media (max-width: 480px) {
     nav .container-fluid {
         flex-direction: column;
         gap: 1rem;
         align-items: flex-start !important;
     }

     .navbar-brand {
         margin-bottom: 0.5rem;
     }

     .navbar-brand span {
         font-size: 1rem;
     }

     .d-flex.align-items-center.gap-4 {
         flex-direction: column;
         gap: 0.5rem !important;
         width: 100%;
     }

     .nav-link {
         font-size: 0.75rem;
     }

     #pagina {
         margin: 10px;
         padding: 15px;
     }
 }